.slider{
    padding-top: 50px;
    height: 400px;
    width: 100%;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.btn:hover {
    border: 1px solid #f4511e;
    background-color: #f4511e !important;
    color: #fff;
}
.btn {
    margin: 15px 40px;
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
}